@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
	--main-background: #0b0c0f;
	--main-fonts-color: #fff;
	--main-decor-color:#00a9e2;
    --main-header-background:#21252e;
	--main-font-family: 'Poppins', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

main{
	padding: 0;
	width: 100%;
	height: 100%;
	background: var(--main-background);
}


/* Mobile view styles */

@media only screen and (max-width: 500px) {
    .nav-show {
        opacity: 1;
        transform: translateX(0%);
    }

    .nav-bar {
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: var(--main-header-background);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: -1;
    }

    .hamburger {
        position: absolute;
        top: 17px;
        right: 25%;
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    .nav-bar li {
        opacity: 1; /* Ensure options are always visible */
        transition: opacity 0.3s;
    }

    .nav-bar li:hover {
        opacity: 0.7;
    }
}

.nav-active {
    transform: translateX(0%);
}


/*────────────────── 
       header
──────────────────*/

header{
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
    align-items: center; 
	justify-content: space-around; 
    background: transparent;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
}

.nav-show{
	opacity: 0;
}

header:hover{
	opacity: 1;
	background: var(--main-header-background);
}

.logo img{
	padding-top: 5px;
	height: 50px;
	cursor: pointer;
}

.nav-bar{
	list-style:none;
	position: relative;
	display: inline-flex;
}

a.nav-link{
	margin: 2px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: uppercase;
}

.active{
	background: var(--main-decor-color);
}

.nav-link:hover {
	color: #000000;
    background: var(--main-decor-color);
}

/*──────────────────
       home
──────────────────*/

#home{ 	
	margin: auto;
	height: 100vh;
	color: var(--main-fonts-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#home .filter{
	background: url('https://images.unsplash.com/photo-1544099858-75feeb57f01b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
	background-size: cover;
	background-position:center;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
	opacity:.20;
}  


.intro {
	text-align:center;
    color: var(--main-fonts-color);
	z-index: 1;
	margin: auto;
	padding: 20px;
}

.intro  p{
    margin: 5px;
	font-size:1.2rem;
	font-family: var(--main-font-family);
	text-align:center;
}

 h3{
	padding-bottom: 15px;
    letter-spacing: normal;
    font-family: var(--main-font-family);
	font-style: normal;
	font-size: 60px;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}


/*──────────────────
    about me
──────────────────*/

#about-me{
  padding-left: 10%;
  padding-right: 10%;
}

#about-me h3{
  padding-top: 50px;
  padding-bottom: 20px;
}

#about-me h4{
  padding-top: 15px;
	padding-bottom: 15px;
    letter-spacing: normal;
    font-family: var(--main-font-family);
	font-style: normal;
	font-size: 30px;
  text-align: center;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}

#about-me p {
  padding-bottom: 5%;
  letter-spacing: normal;
  font-family: var(--main-font-family);
	font-style: normal;
	font-size: 20px;
  text-align: center;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}


#about-me img {
  width: 100%; 
  max-width: 60vh; 
  height: auto; 
  border-radius: 100%; 
  padding: 50px; 
  float: left; 
  margin: 0 20px 20px 0; 
  border: 5px solid var(--main-decor-color); 
}


@media (max-width: 768px) {
  #about-me img {
    padding: 0px;
  }
}

#about-me img:hover{
  border: 5px solid #f0f;
}

#about-me h5{
  padding-top: 15px;
	padding-bottom: 15px;
    letter-spacing: normal;
    font-family: var(--main-font-family);
	font-style: normal;
	font-size: 20px;
  text-align: center;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}



/*──────────────────
    resume
──────────────────*/

#resume div{
  padding-top: 30px;
}

#resume {
  padding-top: 50px;
  align-items: center;
}

#resume iframe {
  
  width: 80%;
  height: 80vh;
}

#resume body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; 
  max-width: 1100px;
}

.mobile-resume-button {
    display: none; /* Hidden by default, shown via JavaScript on mobile */
    width: 100%;
    padding: 10px;
    background-color: var(--main-decor-color);
    color: var(--main-fonts-color);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}


@media (max-width: 768px) {
    .mobile-resume-button {
        display: block;
		width: 50%;
    }
    #resume .resume-container {
        display: none;
    }
}

/*──────────────────
    social media
──────────────────*/

.social-media{
	padding: 10px;
	display: flex;
	position: center;
    align-items: space-around;
	justify-content:center;
}

.social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align:center;
    display: inline-block;
	color: var(--main-fonts-color);
}

.social-media a i{
	cursor: pointer;
}

.social-media  a:hover {
	color: var(--main-decor-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}

/*──────────────────
      projects
──────────────────*/

#projects{
	margin-top:100px;
  margin-bottom: 200px;
  height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	text-align:center;
	color: var(--main-fonts-color);
}
#projects h3{
    padding-top: 70px;
}
#projects p{
	font-family: var(--main-font-family);
	font-size:1.2rem;
	padding: 10px;
}

.work{
	display: flex; 
	flex: 1;
    flex-wrap: wrap;
    justify-content:center;
	align-items: center;
	padding: 20px;
}

.card {
    position: relative; /* Make sure this is set */
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 200px;
    height: 250px;
    border-radius: 12px;
    background: var(--main-decor-color);
}


.card img{
	width: 100%;
	height:70%;
	border-radius:10px 10px 0px 0px;
}

.card .work-content{
	text-align: center;
	padding: 10px 5px;
	font-size: 1rem;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
}

.card a{
	text-decoration: none;
}

.card .work-content:hover{
    color:#202020;
}

.card:hover{
	box-shadow: 0 0 1.5rem gray;
}

.project-lang:hover {
	background-color: #000000;
	color: #ffffff;
}
.project-lang {
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute; /* Position the language label absolutely within the card */
    bottom: 10px; /* Distance from the bottom */
    right: 10px; /* Distance from the right */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Background color with transparency */
    padding: 5px; /* Add some padding */
    border-radius: 5px; /* Optional: Rounded corners */
    font-weight: bolder; /* Make the text bold */
    color: #333; /* Text color */
    font-size: 10px; /* Adjust font size as needed */
}

/*──────────────────
      Contact
──────────────────*/

#contact{
	margin: auto;
	padding-bottom: 20px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--main-fonts-color);
}
	
#contact p{
	padding:10px;
	text-align:center;
	font-size:1.2rem;
	font-family: var(--main-font-family);
}

/*────────────────── 
       footer
──────────────────*/

footer {
	width: 100%;
	height: 100%;
    background-color: var(--main-header-background);
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.copyright a{
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover{
	color: var(--main-decor-color);
}

/*──── hr ─────*/

hr {
    background: var(--main-decor-color);
	margin: 2px;
	height: 3px;
	width: 150px;
    border-radius:5px;
	border: hidden;
	margin-inline-start: auto;
    margin-inline-end: auto;
}

/*────────────────── 
     Scrollbar
──────────────────*/
::-webkit-Scrollbar{
    width: 5px; 
	background: rgba(5,5,5,1);
}
::-webkit-Scrollbar-thumb{
	border-radius: 10px;
	background: var(--main-decor-color);
	box-shadow: inset 0 0 20px var(--main-decor-color);
}
::-webkit-Scrollbar-track{
	margin-top: 80px;
	border-radius: 10px;
}

/*────────────────── 
     hamburger
──────────────────*/
.hamburger {
	display: none;
}

.hamburger div{
	width: 30px;
	height: 3px;
	background: #dbdbdb;
	margin: 5px;
	transition:all 0.3s ease;
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes navLinkFade{
	from{
		opacity:0;
		transform: translatex(50px);
	}
	to{
		opacity: 1;
		transform:translatex(0px);
	}
}

/*────────────────── 
    media queries
──────────────────*/

@media only screen and (max-width: 1484px) and (min-width: 1214px) {
	.work{
        padding:20px 20%;
    }
}
@media only screen and (max-width: 1214px) and (min-width: 1000px) {
	.work{
        padding:20px 12%;
    }
}


@media only screen and (max-width: 500px) {

	#home, #projects, #contact{
        overflow-x: hidden;
	}
	header{
		background-color: var(--main-header-background);
	}
	.logo{
		position:absolute;
		top: 2px;
		left: 30px;
	}
	.nav-show{
		opacity: 1;
	}	 
	.nav-bar{
		position:fixed;
		top: 0px;
		right:0;
		width:60%;
		height: 100vh;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content:space-evenly;
		background:var(--main-header-background);
		transform:translatex(100%);
		transition: transform 0.5s ease-in;
		z-index: -1;
	}
	.hamburger{
		position:absolute;
		top: 17px;
		right: 25%;
		display: block;
		cursor:pointer;
		z-index: 5;
	}	
	.nav-bar li{
		opacity:0;
	}
}

.nav-active{
	transform:translatex(0%);
}




@keyframes navLinkFadeReverse {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

/* Night and Day Mode Button */
.night-day-button {
	position: fixed;
	bottom: 50px;
	right: 20px;
	z-index: 1000;
  }
  
  .night-day-button button {
	padding: 10px;
	background-color: #ffffff;
	color: #000000;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }

  body.night-mode #night-day-toggle {
    background-color: var(--main-fonts-color); /* Adjust to your darker font color */
	color: #f8f8f8;
}


/* Night mode styles */
.night-mode {
    --main-background: #f3f3f3;
    --main-fonts-color: #000000;
    --main-decor-color: #95749e;
    --main-header-background: #8892aa;
    --main-font-family: 'Poppins', sans-serif;
}

.resume-button {
    padding: 10px 20px;
    background-color: var(--main-decor-color); /* match your color scheme */
    color: var(--main-fonts-color); /* match your color scheme */
    border: none;
    border-radius: 5px;
    font-family: var(--main-font-family); /* match your font family */
    font-size: 16px; /* adjust font size as needed */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px; /* adjust margin as needed */
}

.resume-button:hover {
    background-color: #202020; /* adjust hover background color */
    color: #ffffff; /* adjust hover text color */
}




/*──────────────────
    DevOps Project
──────────────────*/

.devOps_Project {
	background-color: var(--main-background);
}

.devOps_Project h3 {
	color: var(--main-decor-color);
	font-family: var(--main-font-family);
	align-content: center;
}


/*──────────────────
    Skills Section
──────────────────*/

#skills {
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	text-align: center;
}
strong, .bold-title {
	font-weight: bold !important;
  }
  

li {
    margin-bottom: 10px; /* Adds space below each list item */
}

p {
    margin-bottom: 15px; /* Adds space below each paragraph */
}

.title-large h4{
	margin-top: 35px;
	margin-bottom: 15px;
    font-size: 1.5rem; 
    font-weight: bold;
}



/* Container for all skill sections */
.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    grid-gap: 20px; /* Space between grid items */
}

/* Individual skill sections */
.skills-section {
    background-color: var(--main-header-background);
    padding: 15px;
    border-radius: 8px;
}

/* Skills List Styling */
.skills-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns inside each section */
    grid-gap: 10px;
    justify-items: center; /* Horizontal center alignment */
    align-items: center; /* Vertical center alignment */
}

/* Center align the content inside each skill item */
.skills-list li {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally within each column */
    gap: 8px;
}


/* Hover Effect */
.skills-list li:hover {
    color: var(--main-decor-color);
    transform: scale(1.05);
    transition: transform 0.2s;
}

/* Adjust Icon Size */
.skills-list i {
    font-size: 1.5rem;
}

/* Responsive Layout for Smaller Screens */
@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr; /* Single column layout on small screens */
    }

    .skills-list {
        grid-template-columns: 1fr; /* Single column inside sections on small screens */
    }
}